:root
{
	--dim-navbar-height: 50px;
}

html
{
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body
{
	text-align: center !important;
	color: #313131;
	background: #eceff1;
}


:focus
{
    outline: none !important;
}

.navbar
{
	/*
	height: var(--dim-navbar-height);
	*/
	background-color: #ffffff !important;
	opacity: 90% !important;
}

.navbar-brand img
{
	max-height: var(--dim-navbar-height);
	padding: 5px;
}

.nav-pills .nav-link.active
{
	background-color: #0f88e3 !important;
}

section
{
	height: 100vh;
	width: 100vw;
	position: relative;
	scroll-snap-align: start;
}

/* Style the video: 100% width and height to cover the entire window */
.splash_video
{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	object-position: 50% 0;
}

/*------------------------------------------------------------*/

#contact
{
    font-size: 1.2rem;
}

#contact h1
{
	color: #0f88e3;
	font-weight: bold;
}

#contact .col
{
	top: 40vh !important;
}

#contact .social-link
{
    font-size: 2.5em;
    line-height: 1;
    color: #414141;

    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#contact .social-link:hover
{
    color: #ffd607;
}

/*------------------------------------------------------------*/

#copyright
{
    color: #444444;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
